{#
/**
 * Page template file.
 *
 * This file is copied from the Drupal core Bartik theme, with an additional
 * region added called 'internal_region_name', just after the messages.
 */
#}
<div id="page-wrapper"><div id="page">

  <header id="header" class="{{ secondary_menu ? 'with-secondary-menu' : 'without-secondary-menu' }}" role="banner" aria-label="{{ 'Site header'|t}}"><div class="section clearfix">
   {% if secondary_menu %}
      <nav id="secondary-menu" class="navigation" role="navigation"  aria-labelledby="links__system_secondary_menu">
        {{ secondary_menu }}
      </nav> <!-- /#secondary-menu -->
    {% endif %}

    {% if logo %}
      <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home" id="logo">
        <img src="{{ logo }}" alt="{{ 'Home'|t }}" />
      </a>
    {% endif %}

    {% if site_name or site_slogan %}
      <div id="name-and-slogan"{% if hide_site_name and hide_site_slogan %} class="visually-hidden"{% endif %}>
        {% if site_name %}
          {% if title %}
            <div id="site-name"{% if hide_site_name %} class="visually-hidden"{% endif %}>
              <strong>
                <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home"><span>{{ site_name }}</span></a>
              </strong>
            </div>
          {# Use h1 when the content title is empty #}
          {% else %}
            <h1 id="site-name"{% if hide_site_name %} class="visually-hidden" {% endif %}>
              <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home"><span>{{ site_name }}</span></a>
            </h1>
          {% endif %}
        {% endif %}

        {% if site_slogan %}
          <div id="site-slogan"{% if hide_site_slogan %} class="visually-hidden"{% endif %}>
            {{ site_slogan }}
          </div>
        {% endif %}
      </div><!-- /#name-and-slogan -->
    {% endif %}

    {{ page.header }}

    {% if main_menu %}
      <nav id ="main-menu" class="navigation" role="navigation" aria-labelledby="links__system_main_menu">
        <div id="nav"></div>
        <div id="no-nav"></div>
        <a class="main-menu-reveal" href="#nav">{{ 'Menu'|t }}</a>
        <a class="main-menu-reveal main-menu-reveal--hide" href="#no-nav">{{ 'Menu'|t }}</a>
        {{ main_menu }}
      </nav> <!-- /#main-menu -->
    {% endif %}
  </div></header> <!-- /.section, /#header-->

  {% if messages %}
    <div id="messages"><div class="section clearfix">
      {{ messages }}
    </div></div> <!-- /.section, /#messages -->
  {% endif %}

  {#
  /* Added region from section "Defining theme regions for block placement"
   * in Chapter 3.
   */
  #}
  {% if page.internal_region_name %}
    <div id="internal-region-name">
      {{ page.internal_region_name }}
    </div>
  {% endif %}


  {% if page.featured %}
    <aside id="featured"><div class="section clearfix">
      {{ page.featured }}
    </div></aside> <!-- /.section, /#featured -->
  {% endif %}

  <div id="main-wrapper" class="clearfix"><div id="main" class="clearfix">
    {{ breadcrumb }}

    <main id="content" class="column" role="main"><section class="section">
      {% if page.highlighted %}<div id="highlighted">{{ page.highlighted }}</div>{% endif %}
      <a id="main-content" tabindex="-1"></a>
      {{ title_prefix }}
        {% if title %}
          <h1 class="title" id="page-title">
            {{ title }}
          </h1>
        {% endif %}
      {{ title_suffix }}
        {% if tabs %}
          <nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
            {{ tabs }}
          </nav>
        {% endif %}
      {{ page.help }}
        {% if action_links %}
          <ul class="action-links">
            {{ action_links }}
          </ul>
        {% endif %}
      {{ page.content }}
      {{ feed_icons }}
    </section></main> <!-- /.section, /#content -->

    {% if page.sidebar_first %}
      <div id="sidebar-first" class="column sidebar"><aside class="section">
        {{ page.sidebar_first }}
      </aside></div><!-- /.section, /#sidebar-first -->
    {% endif %}

    {% if page.sidebar_second %}
      <div id="sidebar-second" class="column sidebar"><aside class="section">
        {{ page.sidebar_second }}
      </aside></div><!-- /.section, /#sidebar-second -->
    {% endif %}

  </div></div><!-- /#main, /#main-wrapper -->

  {% if page.triptych_first or page.triptych_middle or page.triptych_last %}
    <div id="triptych-wrapper"><aside id="triptych" class="clearfix">
      {{ page.triptych_first }}
      {{ page.triptych_middle }}
      {{ page.triptych_last }}
    </aside></div><!-- /#triptych, /#triptych-wrapper -->
  {% endif %}

  <div id="footer-wrapper"><footer class="section">

    {% if page.footer_firstcolumn or page.footer_secondcolumn or page.footer_thirdcolumn or page.footer_fourthcolumn %}
      <div id="footer-columns" class="clearfix">
        {{ page.footer_firstcolumn }}
        {{ page.footer_secondcolumn }}
        {{ page.footer_thirdcolumn }}
        {{ page.footer_fourthcolumn }}
      </div><!-- /#footer-columns -->
    {% endif %}

    {% if page.footer %}
      <div id="footer" role="contentinfo" class="clearfix">
        {{ page.footer }}
      </div> <!-- /#footer -->
   {% endif %}

  </footer></div> <!-- /.section, /#footer-wrapper -->

</div></div> <!-- /#page, /#page-wrapper -->


